@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Styles
*/

body {
	background: #000;
	
}

h1, h2, p {
	font-family: Montserrat, sans-serif;
}

h1 {
	font-size:3rem;
	color:#fff;
	font-weight: 900;
	margin:2rem 0;
}


h2 {
	font-size:2.2rem;
	color:#fff;
	font-weight: 900;
	margin:2rem 0;
}

p {
	font-size:1.6rem;
	line-height: 2.5rem;
	color:#999999;
	margin:2.5rem 0;
}

.white {
	color:#fff;
}

.header {
	margin:4.5rem 0;
	
}

.header svg {
	display: block;
	margin: 0 auto;
}


.wrapper {
    max-width: 960px;
    margin:0 auto;
}

section {
	margin:0 15px;
}

.buttons  {
	color:#fff;
	font-size:3.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.buttons a {
	color: #fff;
	transition: color 0.3s linear;
}

.dribbble:hover {
	color: #e94c89;
	transition: color 0.3s linear;
}

.behance:hover {
	color: #3f7cbf;
	transition: color 0.3s linear;
}

.unsplash:hover {
	color: #b3b3b3;
	transition: color 0.3s linear;
}

.instagram:hover {
	color: #febb50;
	transition: color 0.3s linear;
}
.medium:hover {
	color: #1ca54b;
	transition: color 0.3s linear;
}

.youtube:hover {
	color: #ff0000;
	transition: color 0.3s linear;
}

.article a{
	font-family: Montserrat, sans-serif;
	font-size:1.6rem;
	line-height: 2rem;
	color: #999999;
	text-decoration: none;
	transition: color 0.3s linear;
}

.article a:hover{
	color: #fff;
	transition: color 0.3s linear;
}

.article {
	padding:1rem 0;
	border-bottom: 1px solid #2D2D2D;
}


.medium-section {
	margin-top:4rem;
}


.footer p{
	font-size:0.8rem;
	font-weight: 900;
	color: #2D2D2D;
}

@media screen and (max-width: 600px) {
	html {
		font-size:12px;
	}
}
